<app-toolbar [title]="'Dashboard'"></app-toolbar>
<div
    class="student-page"
    *ngIf="isPageReady && userType !== 'non-authorized'"
>
    <div
        class="student-page-container"
        *ngIf="userType === 'supervisor'"
    >
        <mat-card class="student-page-container-card">
            <form class="student-page-container-card-form">
                <div class="student-page-container-card-form-field">
                    <mat-form-field>
                        <mat-label>Search Student</mat-label>
                        <input
                            matInput
                            name="nameFilter"
                            [(ngModel)]="nameFilter"
                            (ngModelChange)="filterStudents()"
                            placeholder="Name or email"
                        >
                    </mat-form-field>
                </div>
                <div class="student-page-container-card-form-field">
                    <div class="student-page-container-card-form-field-range">
                        <span>Minimum average ratings</span>
                        <div>
                            0
                            <mat-slider
                                name="minFilter"
                                [(ngModel)]="minFilter"
                                (ngModelChange)="filterStudents()"
                                thumbLabel
                                min="1"
                                max="10"
                                step="1"
                                value="1"
                            ></mat-slider>
                            10
                        </div>
                    </div>
                    <div class="student-page-container-card-form-field-range">
                        <span>Maximum average ratings</span>
                        <div>
                            0
                            <mat-slider
                                thumbLabel
                                name="maxFilter"
                                [(ngModel)]="maxFilter"
                                (ngModelChange)="filterStudents()"
                                min="1"
                                max="10"
                                step="1"
                                value="10"
                            ></mat-slider>
                            10
                        </div>
                    </div>
                </div>
                <div class="student-page-container-card-form-field">
                    <mat-slide-toggle
                        name="helpFilter"
                        [(ngModel)]="helpFilter"
                        (ngModelChange)="filterStudents()"
                    >
                        Help Requested Only
                    </mat-slide-toggle>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="student-page-grid">
        <ng-container *ngFor="let student of students">
            <mat-card class="student-page-grid-card">
                <mat-card-header class="student-page-grid-card-header">
                    <mat-card-title>{{student.name}}</mat-card-title>
                    <mat-card-subtitle>{{student.email}}</mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip
                            *ngIf="student.helpRequested"
                            class="tags-red"
                            [removable]="true"
                            (removed)="removeHelp(student.email)"
                        >
                            Help Requested
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <mat-chip [ngClass]="
                        {
                            'tags-green': student.average > 7,
                            'tags-yellow': student.average <= 7 && student.average >= 4,
                            'tags-red': student.average < 4
                        }
                    ">{{ student.average | number :'1.1-1'}}</mat-chip>
                    </mat-chip-list>
                </mat-card-header>
                <ng-container *ngIf="student.history && student.history.length > 0">
                    <app-chart [history]="student.history"></app-chart>
                </ng-container>
                <mat-card-content
                    class="student-page-grid-card-content"
                    *ngIf="student.internshipDetails"
                >
                    <div class="student-page-grid-card-content-column">
                        <span class="student-page-grid-card-content-header">Client:</span>
                        <span class="student-page-grid-card-content-text">
                            {{student.internshipDetails.employeeName}}
                        </span>
                    </div>
                    <div class="student-page-grid-card-content-column">
                        <span class="student-page-grid-card-content-header">Period:</span>
                        <span class="student-page-grid-card-content-text">
                            {{student.internshipDetails.startDate | date: 'd/M'}} - {{student.internshipDetails.endDate | date: 'd/M'}}
                        </span>
                    </div>
                </mat-card-content>
                <mat-card-content class="student-page-grid-card-content">
                    <div class="student-page-grid-card-content-column">
                        <span class="student-page-grid-card-content-header">Lastest Summary:</span>
                        <span class="student-page-grid-card-content-text">{{student.latestSummary}}</span>
                    </div>
                </mat-card-content>
                <button
                    mat-raised-button
                    color="primary"
                    class="student-page-grid-card-button"
                    [routerLink]="'/logs/' + student.email"
                >
                    View Logs
                </button>
            </mat-card>
        </ng-container>
    </div>
</div>
<app-error
    *ngIf="isPageReady && userType === 'non-authorized'"
    [errorText]="'Uh-oh look like your account has not been initialized. Please start submitting log as student or contact admin to become a superviosr'"
></app-error>
<app-loading
    *ngIf="!isPageReady"
    [loadingText]="'Fetching Students. Please wait...'"
></app-loading>
