@import '../../../styles.scss';

.calendar-page {
  width: 85%;
  margin: 40px auto 0;

  &-monitor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (max-width: $break-tablet) {
      display: none;
    }

    &-header {
      display: flex;
      margin: 0 0 50px;
      justify-content: space-between;

      &-button {
        min-width: 150px;
        border-radius: 5px;
      }
    }

    &-calendar-cell {
      margin: 0 15px 15px;
      display: flex;
      flex-direction: column;

      &-content {
        color: #8c8c8c;
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px;
      }

      &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }
    }
  }

  &-mobile {
    @media screen and (min-width: $break-tablet) {
      display: none;
    }

    &-card {
      margin: 20px 0;

      &-header {
        display: flex;
        justify-content: space-between;
      }

      &-content {
        &-button {
          width: 100%;
        }
      }

      &-filter-header {
        justify-content: center;
      }

      &-filter-content {
        text-align: center;
      }
    }
  }

}
