<div class="login-page">
    <mat-card class="login-page-card">
        <mat-card-content>
            <h1>My Supervisor Logger</h1>
        </mat-card-content>
        <mat-card-content class="login-page-card-main-content">
            <span class="mat-body">Login with Google below to see your logs. Please use the same email as the Google Assistant App</span>
        </mat-card-content>
        <mat-card-content>
            <button mat-raised-button color="primary" class="login-page-card-button" (click)="login()">
                Google Login
                <img class="login-page-card-button-image" src="/assets/google-icon.svg" alt="Google Logo" />
            </button>
        </mat-card-content>
    </mat-card>
</div>