<mat-toolbar color="primary">
    <mat-toolbar-row class="tool-bar">
        <span
            *ngIf="back"
            (click)="navigateBack()"
            class="tool-bar-icon"
        >
            <i class="material-icons">navigate_before</i>
        </span>
        <span class="tool-bar-spacer"></span>
        <span>{{title}}</span>
        <span class="tool-bar-spacer"></span>
        <span
            (click)="logout()"
            class="tool-bar-icon"
        >
            <i class="material-icons">keyboard_return</i>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
