<app-toolbar
    [title]="title"
    [back]="'/logs/' + email"
></app-toolbar>
<div
    class="log-page"
    *ngIf="isPageReady else loading"
>
    <div class="log-page-summary">
        <mat-card class="log-page-summary-card">
            <p class="log-page-summary-card-title">Submitted On:</p>
            <mat-card-content class="log-page-summary-card-content">
                <p>
                    {{ log.submissionTime |  date: 'MMMM d h:mm a' }}
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="log-page-summary-card">
            <p class="log-page-summary-card-title">Daily Rating:</p>
            <mat-card-content class="log-page-summary-card-content">
                <p>{{ log.dailyRating }}/10</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="log-page-summary-card">
            <p class="log-page-summary-card-title">Daily Summary:</p>
            <mat-card-content class="log-page-summary-card-content">
                <p>{{ log.dailySummary }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="log-page-general">
        <div
            class="log-page-general-card"
            *ngIf="log.internshipReportingParameters"
        >
            <div class="log-page-general-card-title">Internship Details</div>
            <mat-card class="log-page-general-card-main">
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Employee Name:</p>
                    <p class="log-page-general-card-main-column-content-big">
                        {{ log.internshipReportingParameters.employeeName }}
                    </p>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Start Date:</p>
                    <p class="log-page-general-card-main-column-content-big">
                        {{ log.internshipReportingParameters.startDate | date: 'MMMM d'}}
                    </p>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">End Date:</p>
                    <p class="log-page-general-card-main-column-content-big">
                        {{ log.internshipReportingParameters.endDate | date: 'MMMM d' }}
                    </p>
                </div>
            </mat-card>
        </div>
        <div
            class="log-page-general-card"
            *ngIf="log.technologyReportingParameters"
        >
            <div class="log-page-general-card-title">Assigned Tasks</div>
            <mat-card class="log-page-general-card-main">
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Tasks Expectation:</p>
                    <mat-chip-list class="log-page-general-card-main-column-content-chips">
                        <mat-chip
                            *ngIf="log.technologyReportingParameters.isTaskTechnical"
                            class="tags-green"
                        >
                            As expected
                        </mat-chip>
                        <mat-chip
                            *ngIf="!log.technologyReportingParameters.isTaskTechnical"
                            class="tags-red"
                        >
                            Not as expected
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Actual Task Assigned:</p>
                    <p class="log-page-general-card-main-column-content-normal">
                        {{ log.technologyReportingParameters.task }}
                    </p>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Technologies Utilized or Provided:</p>
                    <p class="log-page-general-card-main-column-content-normal">
                        {{ log.technologyReportingParameters.technology }}
                    </p>
                </div>
            </mat-card>
        </div>
        <div
            class="log-page-general-card"
            *ngIf="log.issueReportingParameters"
        >
            <div class="log-page-general-card-title">Work Place Issues</div>
            <mat-card class="log-page-general-card-main">
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Work Place Concerns:</p>
                    <p class="log-page-general-card-main-column-content-normal">
                        {{ log.issueReportingParameters.workPlaceIssue }}
                    </p>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Other Comments:</p>
                    <p class="log-page-general-card-main-column-content-normal">
                        {{ log.issueReportingParameters.generalIssue }}
                    </p>
                </div>
            </mat-card>
        </div>
        <div
            class="log-page-general-card"
            *ngIf="log.workReportingParameters"
        >
            <div class="log-page-general-card-title">Assigned Tasks:</div>
            <mat-card class="log-page-general-card-main">
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Recent Tasks:</p>
                    <p class="log-page-general-card-main-column-content-normal">{{ log.workReportingParameters.task }}</p>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Deadline:</p>
                    <p
                        class="log-page-general-card-main-column-content-big"
                        *ngIf="log.workReportingParameters.upcomingDeadline"
                    >
                        {{ log.workReportingParameters.upcomingDeadline | date: 'MMMM d' }}
                    </p>
                    <p
                        class="log-page-general-card-main-column-content-big"
                        *ngIf="!log.workReportingParameters.upcomingDeadline"
                    >
                        --
                    </p>
                </div>
            </mat-card>
        </div>
        <div
            class="log-page-general-card"
            *ngIf="log.helpReportingParameters"
        >
            <div class="log-page-general-card-title">General Well Being:</div>
            <mat-card class="log-page-general-card-main">
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Challenges:</p>
                    <p class="log-page-general-card-main-column-content-small">
                        {{ log.helpReportingParameters.challenges }}
                    </p>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Resource Request:</p>
                    <p class="log-page-general-card-main-column-content-small">
                        {{ log.helpReportingParameters.resources  }}
                    </p>
                </div>
                <div class="log-page-general-card-main-column-seperator"></div>
                <div class="log-page-general-card-main-column">
                    <p class="log-page-general-card-main-column-header">Support Provided By Internship:</p>
                    <mat-chip-list class="log-page-general-card-main-column-content-chips">
                        <mat-chip
                            *ngIf="log.helpReportingParameters.support"
                            class="tags-green"
                        >
                            Sufficient Support
                        </mat-chip>
                        <mat-chip
                            *ngIf="!log.helpReportingParameters.support"
                            class="tags-red"
                        >
                            Insufficient Support
                        </mat-chip>
                        <mat-chip
                            *ngIf="log.helpReportingParameters.meeting"
                            class="tags-red"
                        >
                            Help Requested
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </mat-card>
        </div>
        <div
            class="log-page-general-card"
            *ngIf="log.checkUpReportingParameters"
        >
            <div class="log-page-general-card-title">Daily Check Up</div>
            <mat-card class="log-page-general-card-main">
                <div class="log-page-general-card-main-column">
                    <app-radar [logParams]="log.checkUpReportingParameters"></app-radar>
                </div>
            </mat-card>
        </div>
    </div>
    <button
        *ngIf="userType === 'student'"
        mat-fab
        color="primary"
        aria-label="Edit"
        class="log-page-edit"
        (click)="editLog()"
    >
        <mat-icon>create</mat-icon>
    </button>
</div>
<ng-template #loading>
    <app-loading [loadingText]="'Fetching Log Details. Please wait...'"></app-loading>
</ng-template>
